nav {
    background-color: rgb(248, 144, 144);
}

#profile-link {
    text-decoration: none;
    color: rgba(0,0,0,.9);
    margin-right: 10px;
}

#profile-link:hover {
    cursor: pointer;
    transform: scale(1.03);
}

span:hover {
    cursor: pointer;
}

#logo {
    max-height: 30px;
}